.addItemForm{
    background: #92dfff;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.addItemForm .blocks{
    display: flex;
    flex-direction: column;
}
.addItemForm .blocks input[type='number']{
    text-align: center;
}
.addItemForm .blocks input{
    padding: 7px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}
.sizeBlock{
    display: flex;
    gap: 10px;
}
.sizeBlock div{
    display: flex;
    flex-direction: column;
}
.sizeBlock input{
    width: 45px;
}
.blocks button{
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    background: #5cedf6;
    border: none;
    border-radius: 18px;
    box-shadow: 1px 1px 1px #0000005c;
    cursor: pointer;
}